h1 {
    font-size: 16px;
}

p {
    margin: 0;
}

.welcome-tagline {
    text-align: start;
    padding-left: 0;
    align-self: center;
    margin-top: 8px;
}

.welcome-tagline .card {
    padding-left: 0px;
}