.nav-bar {
    padding-top: 24px;
    display: flex;
    padding-left: 24px;
}

.nav-bar ul {
    flex-direction: row;
    gap: 24px;
    font-size: 20px;
    font-weight: 700;
}

.nav-container img {
    position: absolute;
    height: 72px;
    width: 72px;
    right: 8px;
    top: 8px;
}

.nav-container {
    display: flex;
}